.header_main {
    width: 100%;
    height: 100px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
}

.header_main h1 {
    text-transform: uppercase;
}

.header_main ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.header_main ul li {
    list-style-type: none;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-size: 16px;
    transition: .2s ease-in-out;
}

.header_main ul li:hover {
    color: rgb(225, 96, 55);
}

.header_main .icon-button {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header_main .icon-button:hover {
    color: #ea5c2a;
}

.header_main .icon-container {
    background-color: #ea5c2a;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header_main .button-text {
    font-family: 'Arial', sans-serif;
    margin-right: 20px;
}

.header_main svg {
    fill: white;
}